<div class="card h-100">
  <div class="card-header">
    <div class="card-title">
      <h3>
        <span *ngIf="!gameType">Подождите начала игры!</span>
        <span *ngIf="gameType === 'si'">Своя игра</span>
        <span *ngIf="gameType === 'chgk'">Что? Где? Когда?</span>
        <span *ngIf="gameType === 'brain'">Брейн ринг</span>
      </h3>
    </div>
  </div>
  <div class="card-body h-100" *ngIf="gameType">
    <div *ngIf="!selectedTeam">
      <div class="card-subtitle">
        Выберите свою команду
      </div>
      <ol>
        <li *ngFor="let t of teams" class="m-3">
          <div class="select-team-but" (click)="selectTeam(t)" style="background-color:{{t}};">{{t}}</div>
        </li>
      </ol>
    </div>
    <div *ngIf="gameType === 'si'">
      <div class="select-team-but" style="background-color:{{selectedTeam}};">{{selectedTeam}}</div>
      <button *ngIf="canAnswerSI()" class="btn btn-danger answer-but" (click)="makeAnswer()">ЖМИ</button>
    </div>
    <div *ngIf="gameType === 'chgk'">
      <div class="select-team-but" style="background-color:{{selectedTeam}};">{{selectedTeam}}</div>
      <form  *ngIf="canAnswerSI()" [formGroup]="form">
        <div class="form-group" >
          <input class="form-control m-2" [formControlName]="'myAnswer'" type="text" placeholder="введите ответ">
          <button class="btn btn-danger m-1 w-100" (click)="makeAnswer()">Отправит ответ</button>
        </div>
      </form>
    </div>
    <div *ngIf="gameType === 'brain'">
      <div class="select-team-but" style="background-color:{{selectedTeam}};">{{selectedTeam}}</div>
      <button *ngIf="canAnswerBrain()" class="btn btn-danger answer-but" (click)="makeAnswer()">ЖМИ</button>
    </div>

  </div>
</div>
