:host{
  height: 100%;
}
.select-team-but{
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.answer-but{
  width: 100%;
  height: 10rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
