/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

body, html{
  height: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.header-item.right {
  flex-direction: row-reverse;
}
